<!DOCTYPE html>
<html ng-app>
	<head>
		<meta charset="utf-8">
		<title>AngularJS 指令</title>
		<script src="../angular.min.js"></script>
		<style type="text/css">
			div{
				padding-left: 10px;
				border: 1px solid blue;
				margin-bottom: 10px;
			}
		</style>
	</head>
	<body>
		<!--
			AngularJS 指令是扩展的 HTML 属性，带有前缀 ng-。

			ng-app 指令初始化一个 AngularJS 应用程序。
			
			ng-init 指令初始化应用程序数据。
			
			ng-model 指令把元素值（比如输入域的值）绑定到应用程序。
		-->
		<!-- 1.普通 -->
		<div ng-init="firstName='John'">
			<h4>1.普通 </h4>
			<p>姓名：<input type="text" ng-model="firstName" /></p>
			<p>{{firstName}}</p>
		</div>
		
		<!-- 2.数据绑定 -->
		<div ng-init="quantity=1;cost=5">
			<h4>2.数据绑定 </h4>
			计算器：
			<input type="text" ng-model="quantity" />
			<input type="text" ng-model="cost" />
			<p>总和：{{quantity+cost}}</p>
		</div>
		<!-- 3.重复 HTML 元素 -->
		<div ng-init="names=['name1', 'name2', 'name3']">
			<h4>3.重复 HTML 元素 <small>ng-repeat</small> </h4>
			 <p>使用 ng-repeat 来循环数组</p>
			 <ul ng-repeat="x in names">
			 	<li>{{x}}</li>
			 </ul>
		</div>
		<!-- 4.ng-repeat 指令用在一个对象数组上  -->
		
		<div ng-init="names=[
			{name:'Jani',country:'Norway'},
			{name:'Hege',country:'Sweden'},
			{name:'Kai',country:'Denmark'}]">
			<h4>4.ng-repeat 指令用在一个对象数组上</h4>
			<p>循环对象：</p>
			<ul>
			  <li ng-repeat="x in names">
			    {{ x.name + ', ' + x.country }}
			  </li>
			</ul>
		</div>
		<!-- 5.数组 -->
		<div ng-init="points=[1,2,3,4,5]">
			第三个值为: {{points[2]}}
			<p>第四个值为: <span ng-bind="points[3]"></span></p>
		</div>
		<h4>ng-app 指令</h4>
		ng-app 指令定义了 AngularJS 应用程序的 根元素。
		<br />
		ng-app 指令在网页加载完毕时会自动引导（自动初始化）应用程序。
		<br />
		稍后您将学习到 ng-app 如何通过一个值（比如 ng-app="myModule"）连接到代码模块。
		<h4>ng-init 指令</h4>
		ng-init 指令为 AngularJS 应用程序定义了 初始值。
		<br />
		通常情况下，不使用 ng-init。您将使用一个控制器或模块来代替它。
		<br />
		稍后您将学习更多有关控制器和模块的知识。
		<h4>ng-model 指令</h4>
		ng-model 指令 绑定 HTML 元素 到应用程序数据。
		<br />
		ng-model 指令也可以：
		<br />
		为应用程序数据提供类型验证（number、email、required）。
		<br />
		为应用程序数据提供状态（invalid、dirty、touched、error）。
		<br />
		为 HTML 元素提供 CSS 类。
		<br />
		绑定 HTML 元素到 HTML 表单。
		<h4>ng-repeat 指令</h4>
		ng-repeat 指令对于集合中（数组中）的每个项会 克隆一次 HTML 元素。
		<br />
	</body>
</html>
